In [1]:
import os, sys

In [27]:
sys.path.append('/home/bszulc/LoveAndMarriage/lib')
sys.path.append('/home/bszulc/lib')

In [14]:
import pandas as pd
import sqlalchemy
data_path = 'https://www.arcgis.com/sharing/rest/content/items/6ff45d6b5b224632a672e764e04e8394/data'

In [16]:
import pandas as pd
from urllib.request import urlopen

In [11]:
with urlopen(data_path) as f:
    html = f.read().decode('cp1250').encode('utf8')

In [58]:
raw_df[raw_df['powiat_miasto']!='Cały kraj']

,wojewodztwo,powiat_miasto,liczba_przypadkow,liczba_na_10_tys_mieszkancow,zgony,zgony_w_wyniku_covid_bez_chorob_wspolistniejacych,zgony_w_wyniku_covid_i_chorob_wspolistniejacych,liczba_zlecen_poz,liczba_ozdrowiencow,liczba_osob_objetych_kwarantanna,liczba_wykonanych_testow,liczba_testow_z_wynikiem_pozytywnym,liczba_testow_z_wynikiem_negatywnym,liczba_pozostalych_testow,teryt,stan_rekordu_na
1,dolnośląskie,bolesławiecki,27,3.00,0,0,0,0,77,1959,78,28,47,3,t0201,2021-11-27
2,dolnośląskie,dzierżoniowski,56,5.57,0,0,0,0,10,646,154,59,88,7,t0202,2021-11-27
3,dolnośląskie,głogowski,75,8.44,0,0,0,3,18,1539,184,77,103,4,t0203,2021-11-27
4,dolnośląskie,górowski,9,2.59,0,0,0,2,11,684,40,9,31,0,t0204,2021-11-27
5,dolnośląskie,jaworski,3,0.60,0,0,0,0,22,868,19,5,14,0,t0205,2021-11-27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
376,zachodniopomorskie,wałecki,16,3.02,0,0,0,0,22,1181,48,16,31,1,t3217,2021-11-27
377,zachodniopomorskie,łobeski,9,2.46,0,0,0,0,9,426,50,10,39,1,t3218,2021-11-27
378,zachodniopomorskie,Koszalin,91,8.51,3,0,3,0,124,2529,268,99,165,4,t3261,2021-11-27
379,zachodniopomorskie,Szczecin,276,6.88,0,0,0,10,407,8715,918,297,602,19,t3262,2021-11-27
380,zachodniopomorskie,Świnoujście,30,7.34,1,0,1,0,28,648,111,31,76,4,t3263,2021-11-27

In [89]:
!pwd

/home/bszulc/LoveAndMarriage

In [40]:
db = sqlalchemy.create_engine(
    "postgresql://kasia:pln1383@192.168.0.80:5432/love_and_marriage",
)
raw_df = pd.read_csv(data_path, encoding='cp1250', sep=';')

In [48]:

district_df = pd.read_sql('district', db)
province_df = pd.read_sql('province', db)

In [65]:
raw_df[raw_df['powiat_miasto']=='brzeski']

,wojewodztwo,powiat_miasto,liczba_przypadkow,liczba_na_10_tys_mieszkancow,zgony,zgony_w_wyniku_covid_bez_chorob_wspolistniejacych,zgony_w_wyniku_covid_i_chorob_wspolistniejacych,liczba_zlecen_poz,liczba_ozdrowiencow,liczba_osob_objetych_kwarantanna,liczba_wykonanych_testow,liczba_testow_z_wynikiem_pozytywnym,liczba_testow_z_wynikiem_negatywnym,liczba_pozostalych_testow,teryt,stan_rekordu_na
117,małopolskie,brzeski,35,3.76,0,0,0,0,32,1485,151,37,113,1,t1202,2021-11-27
180,opolskie,brzeski,57,6.36,0,0,0,1,53,2121,117,59,57,1,t1601,2021-11-27

In [87]:
df = raw_df[raw_df['powiat_miasto']!='Cały kraj']
df = pd.merge(df, province_df, how='left', left_on=['wojewodztwo'], right_on=['province_name'])
df = pd.merge(df, district_df, how='left', left_on=['id_province', 'powiat_miasto'], right_on=['id_province', 'district_name'])

df['id_district'] = df['id_district'].astype('Int64')
df['id_province'] = df['id_province'].astype('Int64')
df['id_cntry'] = 136
df.rename(inplace=True, columns={
    "stan_rekordu_na": "day",
    "liczba_przypadkow": "cases",
    "zgony": "deaths",
    "liczba_ozdrowiencow": "recovered"
})
df = df[['day','id_cntry','id_province','id_district', 'cases', 'deaths', 'recovered']]

In [88]:
df.to_sql('cases', db, if_exists='append', index=False)

In [85]:
df[df['powiat_miasto']=='brzeski']

,wojewodztwo,powiat_miasto,liczba_przypadkow,liczba_na_10_tys_mieszkancow,zgony,zgony_w_wyniku_covid_bez_chorob_wspolistniejacych,zgony_w_wyniku_covid_i_chorob_wspolistniejacych,liczba_zlecen_poz,liczba_ozdrowiencow,liczba_osob_objetych_kwarantanna,...,liczba_testow_z_wynikiem_pozytywnym,liczba_testow_z_wynikiem_negatywnym,liczba_pozostalych_testow,teryt,stan_rekordu_na,id_province,province_name,id_cntry,id_district,district_name
116,małopolskie,brzeski,35,3.76,0,0,0,0,32,1485,...,37,113,1,t1202,2021-11-27,6,małopolskie,136,117,brzeski
179,opolskie,brzeski,57,6.36,0,0,0,1,53,2121,...,59,57,1,t1601,2021-11-27,8,opolskie,136,180,brzeski